@import url("https://fonts.googleapis.com/css2?family=My+Soul&display=swap");

body {
  margin: 0;
  font-family: "Poppins", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "Poppins", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
  font-family: "nerkathir-icon";
  src: url("../icons/nerkathir-icon.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}

i {
  display: inline-block;
  text-align: center;
  font-family: "nerkathir-icon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  cursor: pointer;
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
/* Rich text - Tiptap */
.menu-bar .is-active {
  background-color: #1a9035;
  color: #fff;
}

.menu-bar i {
  font-size: 1.375rem !important;
}
.menu-bar .is-active i {
  color: white;
}
.ProseMirror {
  /* min-height: 10rem; */
  max-height: 12rem;
  height: 100%;
  overflow-y: auto;
  outline: none;
  padding: 0.5rem;
}

.ProseMirror ul,
.ProseMirror ol {
  padding: 0 1.5rem;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}

.ProseMirror code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  padding: 0.75rem 1rem;
}

.ProseMirror code {
  color: inherit;
  padding: 0;
  background: #a3a3a3;
  font-size: 0.8rem;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid #595959;
}

.ProseMirror hr {
  border: none;
  border-top: 2px solid #595959;
  margin: 2rem 0;
}
/* =========================== */

/* HIDES ARROW IN NUMBER INPUT in moz based browsers */
input[type="number"] {
  -moz-appearance: textfield;
}

/* HIDES ARROW IN NUMBER INPUT in webkit based browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
